<h2> Total income</h2>
<h2><%= @total %></h2>


<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Purchaser Name</th>
      <th scope="col">Item Description</th>
      <th scope="col">Item Price</th>
      <th scope="col">Purchase Count</th>
      <th scope="col">Merchant Address</th>
      <th scope="col">Merchant Name</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
      <% @company_partial_sales.each do |company_partial_sale| %>
        <% company_partial_sale.sales.each do |sale| %>      
      <tr>
        <th scope="row"><%= company_partial_sale.id %></th>
          <td><%= sale.purchase_name %></td>
          <td><%= sale.item_description %></td>
          <td><%= sale.item_price %></td>
          <td><%= sale.purchase_count %></td>
          <td><%= sale.merchant_address %></td>
          <td><%= sale.merchant_name %></td>   
          <td><%= sale.total_income %></td>   
    </tr>
        <% end %>
      <% end %>   
  </tbody>
</table>