<div style="text-align:right;" >
  <%= link_to "", destroy_user_session_path, class: "fas fa-sign-out-alt logout-icon", method: :delete %>
</div>

<div class="gravata-container">
  <div class="sales-heading">
    <h2 class="heading-title">Sales Tracking</h2>
    <h2>Accumulated total gross income: <span class="total-sales-highlight">R$ <%= number_with_precision(@total_gross_income, precision: 2) %></span></h2>
    <div class="d-flex">
      <h2 class="last-input-heading pr-2">Your last input gross income: <span class="input-sales-highlight">R$ <%= number_with_precision(@user_last_input_total, precision: 2) %></span></h2> 
      <% if !@user_last_input.nil? && policy(@user_last_input).destroy? %>
        <%= link_to @user_last_input, method: :delete, data: { confirm: 'Are you sure?'} do %>
          <i class="fas fa-trash-alt pt-1" style="font-size: 22px; color:white;"></i>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="input-file">
    <%= render 'company_partial_sales/new'  %>
  </div>

  <table class="table table-dark table-style">
    <thead>
      <tr>
        <th scope="col">Date of input</th>
        <th scope="col">Item Nº</th>
        <th scope="col">Purchaser Name</th>
        <th scope="col">Item Description</th>
        <th scope="col">Item Price</th>
        <th scope="col">Purchase Count</th>
        <th scope="col">Merchant Address</th>
        <th scope="col">Merchant Name</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @company_partial_sales.each do |company_partial_sale| %>
        <% company_partial_sale.sales.order(created_at: :desc).each do |sale| %>      
          <tr>
            <th scope="row"><%= company_partial_sale.created_at.strftime("%d/%m") %></th>
            <td><%= sale.id %></td>
            <td><%= sale.purchase_name %></td>
            <td><%= sale.item_description %></td>
            <td>R$ <%= number_with_precision(sale.item_price, precision: 2) %> </td>
            <td><%= number_with_precision(sale.purchase_count, precision: 2) %> </td>
            <td><%= sale.merchant_address %></td>
            <td><%= sale.merchant_name %></td>   
            <td>R$ <%= number_with_precision(sale.total_income, precision: 2) %> </td>
            <td>              
              <% if sale.company_partial_sale.user == current_user %>
                <%= link_to sale_path(sale), method: :delete, data: { confirm: 'Are you sure?'} do %>
                  <i class="fas fa-trash-alt pt-1" style="font-size: 18px; color:white;"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>   
    </tbody>
  </table>
</div>